@model List<CreditDebitModel>
@{
    ViewData["Title"] = "Credit";
    int Count = 1;
}

<h2>Credit</h2>

<!-- Save Modal -->
<div id="SaveModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">+ Add Credit Account</h4>
            </div>
            <div class="modal-body">
                <!-- PAGE CONTENT WRAPPER -->
                <div>
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-horizontal">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="form-check">
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <div class="form-group" style="padding-left:170px;">
                                                        <label class="control-label">Code*</label>
                                                        <input type="radio" id="Code" name="CodeName" class="form-check" checked />
                                                        <label class="control-label">Name*</label>
                                                        <input type="radio" name="CodeName" id="Name" class="form-check" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">AccountName</label>
                                                <div class="input-group">
                                                    <input type="text" id="AccCode" class="form-control" />
                                                    @* @Html.DropDownList("AccountType", (IEnumerable<SelectListItem>)ViewBag.AccountType, "Select AccountType", new { @class = "form-control" })*@
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Currency</label>
                                                <div class="input-group">
                                                    @Html.DropDownList("CurrencySymbol", (IEnumerable<SelectListItem>)ViewBag.CurrencySymbol, "Select Currency", new { @class = "form-control", id = "Currency_Id" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Narrative</label>
                                                <div class="input-group">
                                                    @*<input type="text" id="Narrative" class="form-control" />*@
                                                    <textarea cols="22" rows="10" id="TransDescription"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">ExchangeRate</label>
                                                <div class="input-group">
                                                    <input type="text"  class="form-control" id="ExRate" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Amount</label>
                                                <div class="input-group">
                                                    <input type="text" id="Amount" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Amount Description</label>
                                                <div class="input-group">
                                                    <input type="text" id="AmountDescription" class="form-control" />
                                                </div>
                                            </div>
                                            <div style="text-align:right;">
                                                <button id="btnCancel" class="btn btn-default">Cancel</button>
                                                <button id="btnSave" class="btn btn-success">Save</button>
                                            </div>
                                            @*   <div class="form-group">
                                                    <label class="col-md-3 control-label">AccountName</label>
                                                    <div class="col-md-9">
                                                        @Html.DropDownList("AccountType", (IEnumerable<SelectListItem>)ViewBag.AccountType, "Select AccountType", new { @class = "form-control" })
                                                    </div>
                                                </div>*@



                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Save Modal -->
<div id="UpdateModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"> Update Credit Account</h4>
            </div>
            <div class="modal-body">
                <!-- PAGE CONTENT WRAPPER -->
                <div>
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-horizontal">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="form-check">
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <div class="form-group" style="padding-left:170px;">
                                                        <label class="control-label">Code*</label>
                                                        <input type="radio" id="UpdCode"  name="CodeName"  class="form-check" checked />
                                                        <label class="control-label">Name*</label>
                                                        <input type="radio" id="UpdName" name="CodeName"  class="form-check" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">AccountName</label>
                                                <div class="input-group">
                                                    <input type="text" id="UpdAccCode" class="form-control" />
                                                    @* @Html.DropDownList("AccountType", (IEnumerable<SelectListItem>)ViewBag.AccountType, "Select AccountType", new { @class = "form-control" })*@
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Currency</label>
                                                <div class="input-group">
                                                    @Html.DropDownList("CurrencySymbol", (IEnumerable<SelectListItem>)ViewBag.CurrencySymbol, "Select Currency", new { @class = "form-control", id = "Currency_Id" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Narrative</label>
                                                <div class="input-group">
                                                    @*<input type="text" id="Narrative" class="form-control" />*@
                                                    <textarea cols="22" rows="10" id="UpdTransDescription"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">ExchangeRate</label>
                                                <div class="input-group">
                                                    <input type="text"  class="form-control" id="UpdExchangeRate" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Amount</label>
                                                <div class="input-group">
                                                    <input type="text" id="UpdAmount" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Amount Description</label>
                                                <div class="input-group">
                                                    <input type="text" id="UpdAmountDescription" class="form-control" />
                                                </div>
                                            </div>
                                            <div style="text-align:right;">
                                                <button id="btnCancel" class="btn btn-default">Cancel</button>
                                                <button id="btnSave" class="btn btn-success">Save</button>
                                            </div>
                                            @*   <div class="form-group">
                                                    <label class="col-md-3 control-label">AccountName</label>
                                                    <div class="col-md-9">
                                                        @Html.DropDownList("AccountType", (IEnumerable<SelectListItem>)ViewBag.AccountType, "Select AccountType", new { @class = "form-control" })
                                                    </div>
                                                </div>*@



                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">

            <!-- START DEFAULT DATATABLE -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Credit</h3><br />
                </div>
                <div class="panel-body">
                    <div><p class="panel-title">Manage Credit</p></div><br /> <br />
                    <div>
                        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#SaveModal">Create</a>
                        <a asp-action="Credit" asp-controller="Transaction"  class="btn btn-info">Reload</a>
                    </div><br />
                    <table class="table datatable table-striped">
                        <thead>
                            <tr>
                                <th>Sno</th>
                                <th>Account Name</th>
                                <th>Currency</th>
                                <th>Exchange Rate</th>
                                <th>Amount</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@(Count++)</td>
                                    <td>@item.CreditAccount</td>
                                    <td>@item.PurchaseCurrency</td>
                                    <td>@item.ExRate</td>
                                    <td>@item.PurchaseAmount</td>
                                    <td>
                                        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#UpdateModal" onclick="EditCreditFun(@item.ID)">Edit</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- END DEFAULT DATATABLE -->
        </div>
    </div>
</div>

<!-- PAGE CONTENT WRAPPER -->

@section CrudSection{

    <script>
        var a = ['', 'one ', 'two ', 'three ', 'four ', 'five ', 'six ', 'seven ', 'eight ', 'nine ', 'ten ', 'eleven ', 'twelve ', 'thirteen ', 'fourteen ', 'fifteen ', 'sixteen ', 'seventeen ', 'eighteen ', 'nineteen '];
        var b = ['', '', 'twenty', 'thirty', 'forty', 'fifty', 'sixty', 'seventy', 'eighty', 'ninety'];

        function inWords(num) {
            if ((num = num.toString()).length > 9) return 'overflow';
            n = ('000000000' + num).substr(-9).match(/^(\d{2})(\d{2})(\d{2})(\d{1})(\d{2})$/);
            if (!n) return; var str = '';
            str += (n[1] != 0) ? (a[Number(n[1])] || b[n[1][0]] + ' ' + a[n[1][1]]) + 'crore ' : '';
            str += (n[2] != 0) ? (a[Number(n[2])] || b[n[2][0]] + ' ' + a[n[2][1]]) + 'lakh ' : '';
            str += (n[3] != 0) ? (a[Number(n[3])] || b[n[3][0]] + ' ' + a[n[3][1]]) + 'thousand ' : '';
            str += (n[4] != 0) ? (a[Number(n[4])] || b[n[4][0]] + ' ' + a[n[4][1]]) + 'hundred ' : '';
            str += (n[5] != 0) ? ((str != '') ? 'and ' : '') + (a[Number(n[5])] || b[n[5][0]] + ' ' + a[n[5][1]]) + 'only ' : '';
            return str;
        }

        document.getElementById('Amount').onkeyup = function () {
            document.getElementById('AmountDescription').value = inWords(document.getElementById('Amount').value);
            if (document.getElementById('AmountDescription').value == undefined) {
                document.getElementById('AmountDescription').value = 0;
            }
        };


         $('#btnSave').on('click', function () {

        $.ajax({

            url: "@Url.Action("SaveCredit", "Transaction")",
            type: "POST",
            dataType:"json",
            data: {
                Code: $('#Code').val(),
                TransDescription: $('#TransDescription').val(),
                CreditAccount: $('#AccCode').val(),
                PurchaseCurrency: $('#Currency_Id').val(),
                AccountType: $('#AccCode').val(),
                ExRate: $('#ExRate').val(),
                PurchaseAmount: $('#Amount').val()
            },

            success: function (response) {
                location.reload(true);
            }

        });
         });

        function EditCreditFun(Id)
        {

             $.ajax({

            url: "@Url.Action("GetCreditById", "Transaction")",
            type: "GET",
                 dataType:"json",
                 data: {
                     id: Id,
            },
            success: function (response) {
                var d = new Date(response.dateofBirth);
                 $('#Code').val(),
                     $('#updTransDescription').val(response.TransDescription),
                 $('#updAccCode').val(response.CreditAccount),
                 $('#UpdCurrency_Id').val(response.PurchaseCurrency),
                    $('#AccCode').val(response.AccountName),
                     $('#ExRate').val(response.ExRate),
                  $('#Amount').val(response.PurchaseAmount),
                    $('#updAccountId').val(response.accountId)

                }

            });

        }


        $('#btnupdSave').on('click', function () {
        $.ajax({

            url: "@Url.Action("SaveAccount", "Home")",
            type: "POST",
            dataType:"json",
            data: {
                Code: $('#updCode').val(),
                AccountName: $('#updAccountName').val(),
                LastName: $('#updLastName').val(),
                FatherName: $('#updFatherName').val(),
                Currency_Id: $('#updCurrency').val(),
                aAddress: $('#updaAddress').val(),
                TaskiraNo: $('#updTaskiraNo').val(),
                EmailAddress: $('#updEmailAddress').val(),
                DateofBirth: $('#updDateofBirth').val(),
                PhoneNumber: $('#updPhoneNumber').val(),
                sSignature: $('#updsSignature').val(),
                Photo: $('#updPhoto').val(),
                DateofBrith: $('#DateofBirth').val(),
                AccountType: $('#updAccountType').val(),
                AccountId: $('#updAccountId').val()

            },

            success: function (response) {
                location.reload(true);
            }

        });
        });

    </script>
}