@model List<AccountModel>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    int Count = 1;
}
<style>
    #AccountType, #Currency {
        width: 176px;
    }

    input[type="file"] {
        display: block;
    }

    .imageThumb {
        max-height: 75px;
        border: 2px solid;
        padding: 1px;
        cursor: pointer;
    }

    .pip {
        display: inline-block;
        margin: 10px 10px 0 0;
    }

    .remove {
        display: block;
        background: #444;
        border: 1px solid black;
        color: white;
        text-align: center;
        cursor: pointer;
    }

        .remove:hover {
            background: white;
            color: black;
        }
</style>

<!-- Save Modal -->
<div id="SaveModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">+ Add Account</h4>
            </div>
            <div class="modal-body">
                <!-- PAGE CONTENT WRAPPER -->
                <div>

                    <div class="row">
                        <div class="col-md-12">

                            <form class="form-horizontal">
                                <div class="panel panel-default">

                                    <div class="panel-body">

                                        <div class="row">

                                            <div class="col-md-6">

                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">Code*</label>
                                                    <div class="col-md-9">
                                                        <div class="input-group">
                                                            <input type="text" id="Code" class="form-control" />
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">Last Name*</label>
                                                    <div class="col-md-9 col-xs-12">
                                                        <div class="input-group">
                                                            <input type="text" id="LastName" class="form-control" />
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">Select*</label>

                                                    <div class="col-md-9">
                                                        @Html.DropDownList("AccountType", (IEnumerable<SelectListItem>)ViewBag.AccountType, "Select AccountType", new { @class = "form-control" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">Taskira No*</label>
                                                    <div class="input-group">
                                                        <input type="text" id="TaskiraNo" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">Date of Birth*</label>
                                                    <div class="col-md-9">
                                                        <div class="input-group">
                                                            <input type="date" class="form-control" id="DateOfBirth">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">Select*</label>
                                                    <div class="col-md-9">
                                                        @Html.DropDownList("CurrencySymbol", (IEnumerable<SelectListItem>)ViewBag.CurrencySymbol, "Select Currency", new { @class = "form-control", id = "Currency_Id" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">

                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">AccountName*</label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" id="AccountName" />
                                                    </div>
                                                </div>

                                                @*<div class="form-group">
                                                    <label class="col-md-3 control-label">FirstName*</label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" id="FirstName" />
                                                    </div>
                                                </div>*@

                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">Father Name*</label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" id="FatherName" />
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">Address*</label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" id="aAddress" />
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">Email Address*</label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" id="EmailAddress" />
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">Contact No*</label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" id="PhoneNumber" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">Upload your images</label>
                                                    <div class="input-group">
                                                        <input type="file" id="files" name="files[]" multiple />
                                                    </div>
                                                </div>
                                                 
                                                <br />
                                                <div style="text-align:right;">
                                                    <button id="btnCancel" class="btn btn-default">Cancel</button>
                                                    <button id="btnSave" class="btn btn-success">Save</button>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Update Modal -->
<div id="UpdateAccountModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">+ Add Account</h4>
            </div>
            <div class="modal-body">
                <!-- PAGE CONTENT WRAPPER -->
                <div>

                    <div class="row">
                        <div class="col-md-12">

                            <form class="form-horizontal">
                                <div class="panel panel-default">

                                    <div class="panel-body">

                                        <div class="row">

                                            <div class="col-md-6">

                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">Code*</label>
                                                    <div class="col-md-9">
                                                        <div class="input-group">
                                                            <input type="hidden" id="updAccountId" class="form-control" />
                                                            <input type="text" id="updCode" class="form-control" />
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">Last Name*</label>
                                                    <div class="col-md-9 col-xs-12">
                                                        <div class="input-group">
                                                            <input type="text" id="updLastName" class="form-control" />
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">Select*</label>

                                                    <div class="col-md-9">
                                                        @Html.DropDownList("AccountType", (IEnumerable<SelectListItem>)ViewBag.AccountType, "Select AccountType", new { @class = "form-control",@id= "updAccountType" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">Taskira No*</label>
                                                    <div class="input-group">
                                                        <input type="text" id="updTaskiraNo" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">Date of Birth*</label>
                                                    <div class="col-md-9">
                                                        <div class="input-group">
                                                            <input type="date" class="form-control" id="updDateOfBirth">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">Select*</label>
                                                    <div class="col-md-9">
                                                        @Html.DropDownList("CurrencySymbol", (IEnumerable<SelectListItem>)ViewBag.CurrencySymbol, "Select Currency", new { @class = "form-control", id = "updCurrency" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">

                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">AccountName*</label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" id="updAccountName" />
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">FirstName*</label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" id="updFirstName" />
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">Father Name*</label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" id="updFatherName" />
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">Address*</label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" id="updaAddress" />
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">Email Address*</label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" id="updEmailAddress" />
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">Contact No*</label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" id="updPhoneNumber" />
                                                    </div>
                                                </div>
                                                <br />
                                                <div style="text-align:right;">
                                                    <button id="btnCancel" class="btn btn-default">Cancel</button>
                                                    <button id="btnupdSave" class="btn btn-success">Save</button>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">

            <!-- START DEFAULT DATATABLE -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Accounts</h3><br />
                </div>
                <div class="panel-body">
                    <div><p class="panel-title">Manage Accounts</p></div><br /> <br />
                    <div>
                        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#SaveModal">Create</a>
                        <a href="#" class="btn btn-info">Reload</a>
                    </div><br />
                    <table class="table datatable table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Code</th>
                                <th>Account Name</th>
                                <th>Last Name</th>
                                <th>Father Name</th>
                                <th>Currency</th>
                                <th>Account Type</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@(Count++)</td>
                                    <td>@item.Code</td>
                                    <td>@item.AccountName</td>
                                    <td>@item.LastName
                                    <td>@item.FatherName</td>
                                    <td>@item.Currency_Symbol</td>
                                    <td>@item.AccountType</td>
                                    <td>
                                        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#UpdateAccountModal"  onclick="EditAccountFun('@Html.Raw(@item.AccountId)')">Edit</a>
                                        <a href="#" class="btn btn-success">Upload</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- END DEFAULT DATATABLE -->
        </div>
    </div>
</div>

<!-- PAGE CONTENT WRAPPER -->
@section CrudSection{


    <script>

        $('#btnSave').on('click', function () {

           


        $.ajax({




            url: "@Url.Action("SaveAccount", "Home")",
            type: "POST",
            dataType:"json",
            data: {
                Code: $('#Code').val(),
                AccountName: $('#AccountName').val(),
                LastName: $('#LastName').val(),
                FatherName: $('#FatherName').val(),
                Currency_Id: $('#Currency_Id').val(),
                aAddress: $('#aAddress').val(),
                TaskiraNo: $('#TaskiraNo').val(),
                EmailAddress: $('#EmailAddress').val(),
                DateofBirth: $('#DateofBirth').val(),
                PhoneNumber: $('#PhoneNumber').val(),
                sSignature: $('#sSignature').val(),
                Photo: $('#files').val(),
                files: $("#files").get(0).files[0],
                DateofBrith: $('#DateofBirth').val(),
                AccountType: $('#AccountType').val()


            },

            success: function (response) {
                location.reload(true);
            }

        });
    });

        function EditAccountFun(accountId)
        {

             $.ajax({

            url: "@Url.Action("GetAccountById", "Home")",
            type: "GET",
                 dataType:"json",
                 data: {
                     id: accountId,
            },
            success: function (response) {
                var d = new Date(response.dateofBirth);
                    $('#updCode').val(response.code),
                    $('#updAccountName').val(response.accountName),
                    $('#updLastName').val(response.lastName),
                    $('#updFatherName').val(response.fatherName),
                    $('#updCurrency').val(response.currency_Id),
                    $('#updaAddress').val(response.aAddress),
                    $('#updTaskiraNo').val(response.taskiraNo),
                        $('#updEmailAddress').val(response.emailAddress),
                        $('#updDateofBirth').val(d.getDate()),
                    $('#updPhoneNumber').val(response.phoneNumber),
                    $('#updsSignature').val(response.sSignature),
                    $('#updPhoto').val(response.photo),
                    $('#updAccountType').val(response.accountType)
                    $('#updAccountId').val(response.accountId)
                
                }

            });

        }


        $('#btnupdSave').on('click', function () {
        $.ajax({

            url: "@Url.Action("SaveAccount", "Home")",
            type: "POST",
            dataType:"json",
            data: {
                Code: $('#updCode').val(),
                AccountName: $('#updAccountName').val(),
                LastName: $('#updLastName').val(),
                FatherName: $('#updFatherName').val(),
                Currency_Id: $('#updCurrency').val(),
                aAddress: $('#updaAddress').val(),
                TaskiraNo: $('#updTaskiraNo').val(),
                EmailAddress: $('#updEmailAddress').val(),
                DateofBirth: $('#updDateofBirth').val(),
                PhoneNumber: $('#updPhoneNumber').val(),
                sSignature: $('#updsSignature').val(),
                Photo: $('#updPhoto').val(),
                DateofBrith: $('#DateofBirth').val(),
                AccountType: $('#updAccountType').val(),
                AccountId: $('#updAccountId').val()
                 
            },

            success: function (response) {
                location.reload(true);
            }

        });
        });


        $(document).ready(function () {
            if (window.File && window.FileList && window.FileReader) {
                $("#files").on("change", function (e) {
                    var files = e.target.files,
                        filesLength = files.length;
                    for (var i = 0; i < filesLength; i++) {
                        var f = files[i]
                        var fileReader = new FileReader();
                        fileReader.onload = (function (e) {
                            var file = e.target;
                            $("<span class=\"pip\">" +
                                "<img class=\"imageThumb\" src=\"" + e.target.result + "\" title=\"" + file.name + "\"/>" +
                                "<br/><span class=\"remove\">Remove image</span>" +
                                "</span>").insertAfter("#files");
                            $(".remove").click(function () {
                                $(this).parent(".pip").remove();
                            });
                        });
                        fileReader.readAsDataURL(f);
                    }
                });
            } else {
                alert("Your browser doesn't support to File API")
            }
        });
    </script>
}